// MovingButton.scss
.movingButton_animation {
    animation: moveLeftRight 0.5s ease-in-out;

    @keyframes moveLeftRight {
        0% {
            transform: translateX(-5px);
        }
        50% {
            transform: translateX(5px);
        }
        100% {
            transform: translateX(-5px);
        }
    }
}
