.cover {
  position: relative;

  .face-swap {
    background-color: white;
    padding-right: 460px;
    text-align: center;
    color: black;
  }

  .face-swap-header {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: auto;
    text-align: center;
    z-index: 8;

    .face-swap-title {
      padding-top: 20px;
      margin-bottom: 16px;
      color: black;
      font-size: 48px;
      font-weight: 700;
      font-family: ""; // Your font family here
      line-height: 134.5%;
    }

    .face-swap-subheader {
      color: rgb(102, 102, 102);
      font-family: ""; // Your font family here
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .face-swap-body {
    // height: 682px;
    overflow: auto;
    max-width: var(--max-width);
    margin: 0px auto;
    position: relative;

    @media (max-width: 1440px) {
      height: 513px;
      max-width: 700px;
    }

    .face-swap-tab {
      @media (max-width: 720px) {
        margin-top: 25px;
        margin-bottom: 15px
      }

      display: flex;
      color: black;
      -webkit-box-pack: center;
      font-family: "";
      justify-content: center;
      margin-bottom: 35px;
      margin-top: 10px;
      border-bottom: 1px solid rgb(238, 241, 243);
      position: sticky;
      top: 0px;
      z-index: 1;
      background-color: rgb(255, 255, 255);

      .nav {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        .nav-item {
          margin-right: 20px;

          .gradient {
            background-image: linear-gradient(-45deg, rgb(72, 79, 248), rgb(228, 79, 252), rgb(48, 181, 255));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative
          }
        }

        .nav-link {
          color: black;
          text-decoration: none;
          font-size: 16px;
          line-height: 24px;
          padding: 8px 16px;
          border-radius: 20px;
          cursor: pointer;

          &.active-tab {
            font-weight: bold;
            color: black;

            &:hover {
              color: black;
            }
          }

          :last-of-type {
            margin-right:0px;
          }
          &:hover {
            background-color: transparent; // Set background color to transparent on hover
            color: black;
          }

        }
      }
    }
  }
}
